@import "../scss/fonts";
@import "../scss/variables";
@import "../scss/container";
@import "../scss/style.scss";
ul {
    list-style: none;
    gap: 20px;
    padding-right: 50px;
}

a {
    text-decoration: none;
}

#backtop {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 100px;
    transition: 0.5s;
    padding-top: 5px;
    border: 4px solid $primary-color;
    background-color: #ddd;
    display: none;
}

#backtop a {
    color: $primary-color;
    font-size: 60px;
    display: flex;
    text-align: center;
    align-items: center;
    transition: 0.5s;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: 1000;
}

.backtop-show {
    display: block !important;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $primary-color;
    margin: 0 auto;
}

.header {
    display: flex;
    padding: 20px;
    gap: 0px;
}

.header img {
    padding-right: 400px;
}

.header button {
    width: 131px;
    height: 48px;
    font-size: 20px;
    font-family: Italik;
    padding: 10px, 40px, 10px, 40px;
    border-radius: 100px;
    border: 1px solid $secondary-color;
    background-color: $primary-color;
    color: $secondary-color;
    gap: 10px;
}

li {
    color: $secondary-color;
}

.header button:hover {
    width: 131px;
    height: 48px;
    padding: 10px, 40px, 10px, 40px;
    border-radius: 100px;
    border: 1px solid $primary-color;
    background-color: $secondary-color;
    color: $primary-color;
    gap: 10px;
}

.section__main4 {
    margin-top: 187px;
}

.con__h1 {
    text-align: center;
    justify-content: center;
    font-size: 60px;
    font-family: Italik;
}

footer {
    background-color: $primary-color;
    height: 710px;
    margin-top: -200px;
    color: $secondary-color;
}

@media (max-width: 570px) {
    footer {
        height: 100%;
    }
}

.box__content {
    display: flex;
    gap: 170px;
    padding-top: 292px;
}

.box-1 {
    text-align: center;
    justify-content: center;
    @media (max-width: 570px) {
        margin-left: 100px;
    }
}

.box-1 h3 {
    font-size: 30px;
    font-family: Italik;
    color: $secondary-color;
}

.box-2 {
    text-align: center;
    justify-content: center;
    @media (max-width: 570px) {
        margin-top: 500px;
        margin-left: -400px;
    }
}

.imglogo {
    width: 350px;
}

.box-2 p {
    width: 438px;
    height: 52px;
    // font-family: Italik;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: center;
    @media (max-width: 570px) {
        width: 250px;
        margin-left: 0px;
    }
}

.box2__icons {
    display: flex;
    gap: 20px;
    margin-left: 165px;
    margin-top: 50px;
    @media (max-width: 570px) {
        margin-left: 0px;
        margin-bottom: 50px;
    }
}

.box-3 {
    text-align: center;
    justify-content: center;
    @media (max-width: 570px) {
        width: 250px;
        margin-top: 300px;
        margin-left: -450px;
    }
}

.box-3 h2 {
    font-size: 30px;
}

.footer__span {
    width: 294px;
    height: 28px;
    margin-top: 100px;
    margin-left: -200px;
}

.centr__box {
    width: 1, 406px;
    height: 413px;
    margin-top: 50px;
    padding: 64px, 252px, 64px, 252px;
    border-radius: 20px;
    border: 1px;
    background-color: $primary-color;
    gap: 64px;
    box-shadow: 10px 10px 5px grey;
}

@media (max-width: 570px) {
    .centr__box {
        display: none;
    }
}

.tittle__box {
    width: 902px;
    height: 169px;
    color: $secondary-color;
    gap: 24px;
    padding-top: 64px;
    padding-left: 202px;
    padding-right: 252px;
    padding-bottom: 64px;
    text-align: center;
}

.input__box {
    width: 811px;
    display: flex;
    height: 52px;
    gap: 32px;
}

#email {
    width: 635px;
    height: 52px;
    border: 1px solid #aaaa;
    padding-left: 20px;
    color: #fff;
    font-size: 25px;
    border-radius: 100px;
    margin-left: 298px;
    background-color: $primary-color;
}

.input__box button {
    width: 144px;
    height: 52px;
    padding: 12px, 32px, 12px, 32px;
    border-radius: 100px;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    background-color: $primary-color;
    gap: 10px;
}

.input__box button:hover {
    width: 144px;
    height: 52px;
    padding: 12px, 32px, 12px, 32px;
    border-radius: 100px;
    border: 1px solid $secondary-color;
    color: $primary-color;
    background-color: $secondary-color;
    gap: 10px;
}
